a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: rgb(73, 18, 246);
    color: white;
    font-family: Arial;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    font-weight: normal;
}

input[type='button'] {
    background: linear-gradient(to right, rgb(234, 158, 61), rgb(238, 125, 56));
    border: 0px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
}

.copy-1 {
    color: rgb(201, 184, 252);
    flex: 0 0 450px;
    margin-right: -69px;
    margin-top: 45px;
    z-index: 1;
}

.container {
    margin-left: 20px;
}

.header {
    align-items: center;
    display: flex;
}

.picture-1 {
    flex: 0 1 900px;
    z-index: 0;
}

.picture-2 {
    flex: 0 1 500px;
    padding-right: 50px;
}

.picture-3 {
    flex: 0 1 400px;
}

.section-1 {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.section-2 {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
